# Default ignored files
/../../inf_428_hw_1 /.idea/shelf/
/../../inf_428_hw_1 /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../inf_428_hw_1 /.idea/httpRequests/
# Datasource local storage ignored files
/../../inf_428_hw_1 /.idea/dataSources/
/../../inf_428_hw_1 /.idea/dataSources.local.xml
